<p id="notice"><%= notice %></p>

<p>
  <strong>Objective:</strong>
  <%= @team.objective %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @team.start_date %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @team.goals %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
