<% if current_user %>
  <% if @employees.any? %>
    <div class="mini-cards">
      <% @employees.each do |card| %>
        <div class="mini-card">
          <div class="mini-top container">
            <h5><%= link_to card.name, employee_path(card.id), class: "employee-name" %></h5>
            <h6> <%= card.position %> </h6>
          </div>
          <div class="mini-bottom container">
            <h6>
              <% card.industries && card.industries.each do |industry| %>
                <%= industry.name %>,
              <% end %>
            </h6>
            <h6 class="mini-right">
              <% if card.roles %>
                <% card.roles.each do |role| %>
                  <%= role.name %>,
                <% end %>
              <% end %>
            </h6>
            <h6> <%= card.myers_briggs %> </h6>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <center><h6>There are currently no employee baseball cards.</h6></center>
  <% end %>
<% end %>
