<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container" id="employeeform-container">

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field  :name, id: :employee_name,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :position %>
    <%= form.text_field  :position, id: :employee_position,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :start_date %>
    <%= form.text_field  :start_date, id: :employee_start_date,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :personal_development_plan %>
    <%= form.text_area  :personal_development_plan, id: :employee_personal_development_plan,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :life_quote %>
    <%= form.text_field  :life_quote, id: :employee_life_quote,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :quote %>
    <%= form.text_field  :quote, id: :employee_quote,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :motto %>
    <%= form.text_field  :motto, id: :employee_motto,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :strength %>
    <%= form.text_field  :strength, id: :employee_strength,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :myers_briggs %>
    <%= form.text_area  :myers_briggs, id: :employee_myers_briggs,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :birkman %>
    <%= form.text_area  :birkman, id: :employee_birkman,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :vision %>
    <%= form.text_field  :vision, id: :employee_vision,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :short_term_goal %>
    <%= form.text_field :short_term_goal, id: :employee_short_term_goal,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :long_term_goal %>
    <%= form.text_field  :long_term_goal, id: :employee_long_term_goal,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :area_to_develop %>
    <%= form.text_field  :area_to_develop, id: :employee_area_to_develop,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :objective_setting %>
    <%= form.text_field  :objective_setting, id: :employee_objective_setting,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :personal_goal %>
    <%= form.text_field  :personal_goal, id: :employee_personal_goal,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :project_id %>
    <%= form.number_field  :project_id, id: :employee_project_id,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :team_id %>
    <%= form.number_field  :team_id, id: :employee_team_id,  class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
</div>
<% end %>
