<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container form-container">
  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field  :name, id: :employee_name,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :position %>
    <%= form.text_field  :position, id: :employee_position,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :start_date %>
    <%= form.text_field  :start_date, id: :employee_start_date,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :personal_development_plan %>
    <%= form.text_area  :personal_development_plan, id: :employee_personal_development_plan,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :life_quote %>
    <%= form.text_field  :life_quote, id: :employee_life_quote,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :quote %>
    <%= form.text_field  :quote, id: :employee_quote,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :motto %>
    <%= form.text_field  :motto, id: :employee_motto,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :strength %>
    <%= form.text_field  :strength, id: :employee_strength,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :myers_briggs %>
    <%= form.text_area  :myers_briggs, id: :employee_myers_briggs,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :birkman %>
    <%= form.text_area  :birkman, id: :employee_birkman,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :mission %>
    <%= form.text_area  :mission, id: :employee_mission,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :vision %>
    <%= form.text_field  :vision, id: :employee_vision,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label "Artemis Role" %>
    <%= form.text_area  :expectation, id: :employee_expectation,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :short_term_goal %>
    <%= form.text_field :short_term_goal, id: :employee_short_term_goal,  class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :long_term_goal %>
    <%= form.text_field  :long_term_goal, id: :employee_long_term_goal,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label "Awesome Attributes" %>
    <%= form.text_area  :awesome, id: :employee_awesome,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label "Need from others" %>
    <%= form.text_field  :need, id: :employee_need,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label "Prefer feedback" %>
    <%= form.text_area  :receive_feedback, id: :employee_receive_feedback,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label "Personal growth" %>
    <%= form.text_area  :development, id: :employee_development,  class: "form-control"  %>
  </div>

  <ul class="skills-list">
    <% ["Leadership", "Determination"].each do |skill| %>
      <li><%= check_box_tag "employee[areas_to_develop][]", skill, id: "employee_areas_to_develop_#{skill}" %> <%= skill %></li>
    <% end %>
  </ul>

  <div class="field form-group">
    <%= form.label :objective_setting %>
    <%= form.text_field  :objective_setting, id: :employee_objective_setting,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label "Personal goal one" %>
    <%= form.text_field  :personal_goal, id: :employee_personal_goal,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :personal_goal_two %>
    <%= form.text_field  :personal_goal_two, id: :employee_personal_goal_two,  class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :personal_goal_three %>
    <%= form.text_field  :personal_goal_three, id: :employee_personal_goal_three,  class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
</div>
<% end %>
