<center><h1 class="blue-text"><%= link_to @employee.name, employee_path(@employee)%> </h1></center>
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-3 sidebar">
        <center><h5 class ="wos">What Others Say:</h5>

          <% if @employee.others.any? %>
            <% @employee.others.each do |other| %>

            <h5>Occasion:</h5>
            <p> <%= other.occasion %> </p>

            <h5>End project:</h5>
            <p> <%= other.end_project %> </p>

            <h5>Birthday:</h5>
            <p> <%= other.birthday %> </p>

            <h5>Pulse survey:</h5>
            <p> <%= other.pulse_survey %> </p>
            <% end %>
          <% end %>
          <% if current_user.superadmin_role? || current_user.supervisor_role? %>
          	<%= link_to "Add 'What Others Say'", new_employee_other_path(@employee) %>
          <% end %>


        </center>

      </div>

      <div class="col-md-9 content">
        <center><h4>360 Feedback</h4>
        <%= pie_chart [
          ["Flexible", 6],
          ["Team Player", 8],
          ["Adaptable", 6],
          ["Problem Solver", 9],
          ["Critical Thinker", 8],
          ["Adaptable", 10],
          ["Problem Definition Writer", 7]],
          donut: true
        %>
        <%= column_chart [
          ["Flexible", 6],
          ["Team Player", 8],
          ["Adaptable", 6],
          ["Problem Solver", 9],
          ["Critical Thinker", 8],
          ["Adaptable", 10],
          ["Problem Definition Writer", 7],
          ["Experimenter", 9],
          ["Interview designer", 7],
          ["Interview conductor", 6],
          ["Survey designer", 7],
          ["Interview/Survey/Research synthesizer", 4],
          ["Client Ready Producer", 9],
          ["Tool Developer", 5],
          ["Process Improver", 9],
          ["Team Leader", 10]
          ], min: 0, max: 10,
        donut: true, width: "fill", height: "500px" %>
        <div class="container">
          <p>Words used to describe <%= @employee.name %> </p></center>
          <hr>
          <h5>What should this person keep doing?</h5>
          <% @data.each do |smaller_array| %>
            <% if smaller_array[2] ==  @employee.name %>
              <div class="container one-survey">

                <% smaller_array[3].split(",").each do |skill| %>
                  <p> <%= skill %> </p><br>
                <% end %>
              </div>
            <% end %>
          <% end %><br>

        <% if current_user.superadmin_role? || current_user.supervisor_role? %>

          <h5>What should this person do more of?</h5>
          <% @data.each do |smaller_array| %>
            <% if smaller_array[2] ==  @employee.name %>
              <div class="container one-survey">
                <% smaller_array[4].split(",").each do |skill| %>
                  <p> <%= skill %> </p><br>
                <% end %>
              </div>
            <% end %>
          <% end %><br>
          <h5>What should this person stop doing?</h5>
          <% @data.each do |smaller_array| %>
            <% if smaller_array[2] ==  @employee.name %>
              <div class="container one-survey">
                <% smaller_array[5].split(",").each do |skill| %>
                  <p> <%= skill %> </p><br>

                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
