<center><h1 class="blue-text"><%= @employee.name %> </h1></center>
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-3 sidebar">
        <center><h5 class ="wos">What Others Say:</h5>

          <% if @employee.others.any? %>
            <% @employee.others.each do |other| %>

            <h5>Occasion:</h5>
            <p> <%= other.occasion %> </p>

            <h5>End project:</h5>
            <p> <%= other.end_project %> </p>

            <h5>Birthday:</h5>
            <p> <%= other.birthday %> </p>

            <h5>Pulse survey:</h5>
            <p> <%= other.pulse_survey %> </p>
            <% end %>
          <% end %>

          
        <%= link_to "Add 'What Others Say'", new_employee_other_path(@employee) %></center>
      </div>

      <div class="col-md-9 col-md-offset-3 content">
        <center><h4>360 Feedback</h4>
        <%= pie_chart [["Project management", 9], ["Communication", 10]] %>
        <div class="container">
          <p>Words used to describe <%= @employee.name %> </p></center>
          <hr>
          <% @data.each do |smaller_array| %>
            <% if smaller_array[2] ==  @employee.name %>
              <div class="container one-survey">
                <p>Response:</p>
                <% smaller_array[1].split(",").each do |skill| %>
                  <p> <%= skill %> </p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
