<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">

    <div class="float-right">
      <h1 class="blue-text"><%= @employee.name %></h1>
      <h2><%= @employee.position %></h2>
      <h2><%= @employee.start_date %></h2>
      <h2 class="grey-text">Last updated</h2>
    </div>

    <div class="float-left">
      <p>
        <strong>Personal development plan:</strong>
        <%= @employee.personal_development_plan %>
      </p>

      <p>
        <strong>Life quote:</strong>
        <%= @employee.life_quote %>
      </p>

      <p>
        <strong>Quote:</strong>
        <%= @employee.quote %>
      </p>

      <p>
        <strong>Motto:</strong>
        <%= @employee.motto %>
      </p>
    </div>

  </div>
  <div class="col-md-6">
    <p>
      <strong>Strength:</strong>
      <%= @employee.strength %>
    </p>

    <p>
      <strong>Myers briggs:</strong>
      <%= @employee.myers_briggs %>
    </p>

    <p>
      <strong>Birkman:</strong>
      <%= @employee.birkman %>
    </p>

    <p>
      <strong>Vision:</strong>
      <%= @employee.vision %>
    </p>

    <p>
      <strong>Short term goal:</strong>
      <%= @employee.short_term_goal %>
    </p>

    <p>
      <strong>Long term goal:</strong>
      <%= @employee.long_term_goal %>
    </p>

    <p>
      <strong>Area to develop:</strong>
      <%= @employee.area_to_develop %>
    </p>

    <p>
      <strong>Objective setting:</strong>
      <%= @employee.objective_setting %>
    </p>

    <p>
      <strong>Personal goal:</strong>
      <%= @employee.personal_goal %>
    </p>

    <p>
      <strong>Project:</strong>
      <%= @employee.project_id %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
