<p id="notice"><%= notice %></p>
<div class="container">
  <center><%= link_to 'Edit', edit_employee_path(@employee) %> |
  <%= link_to 'Back', employees_path %></center><br>
  <div class="row">
    <div class="col-md-6">
      <div class="float-right">
        <h1 class="blue-text"><%= @employee.name %></h1>
        <h2><%= @employee.position %></h2>
        <h2 class="grey-text"><%= @employee.start_date %></h2>
      </div>

      <div class="float-left">

          <h5>Personal development plan:</h5>
          <p><%= @employee.personal_development_plan %></p>

          <h5>Artemis Role:</h5>
          <p><%= @employee.expectation %></p>

          <h5>Life quote:</h5>
          <p><%= @employee.life_quote %></p>

          <h5>Quote:</h5>
          <p><%= @employee.quote %></p>

          <h5>Motto:</h5>
          <p><%= @employee.motto %></p>

          <h5>Strength:</h5>
          <p><%= @employee.strength %></p>

          <h5>Mission:</h5>
          <p><%= @employee.mission %></p>

          <h5>Vision:</h5>
          <p><%= @employee.vision %></p>

      </div>

    </div>
    <div class="col-md-6" id="right-side">
      <div id="right-side-text">

        <h5>Myers Briggs:</h5>
        <p><%= @employee.myers_briggs %></p>

        <h5>Birkman:</h5>
        <p><%= @employee.birkman %></p>

        <h5>Short term goal:</h5>
        <p><%= @employee.short_term_goal %></p>

        <h5>Long term goal:</h5>
        <p><%= @employee.long_term_goal %></p>

        <h5>Awesome attributes:</h5>
        <p><%= @employee.awesome %></p>

        <h5>Needs from others:</h5>
        <p><%= @employee.need %></p>

        <h5>Prefered feedback:</h5>
        <p><%= @employee.receive_feedback %></p>

        <h5>Personal growth:</h5>
        <p><%= @employee.development %></p>

        <h5>Areas to develop:</h5>
        <p><%=  @employee.area_to_develop %>, <%= @employee.area_to_develop_two %>, and <%= @employee.area_to_develop_three %></p>

        <h5>Objective setting:</h5>
        <p><%= @employee.objective_setting %></p>

        <h5>Personal goals:</h5>
        <p><%=  @employee.personal_goal %>, <%= @employee.personal_goal_two %>, and <%= @employee.personal_goal_three %></p>

        <h5>Projects:</h5>
        <% if @employee.projects.any? %>
          <ul>
            <% @employee.projects.each do |project| %>
              <li class="project-link-on-card"> <%= link_to project.title, project_path(project) %> </li>
            <% end %>
          </ul>
        <% end %>

      </div>
    </div>
  </div>
</div>
