<p id="notice"><%= notice %></p>

<a href="/employees" class="new-button" id="back">Back</a>
<a href="/employees/<%= @id %>/flip" class="new-button" id="flip">Flip</a>

<center>
  <% if current_user.id == @employee.user_id %>
    <%= link_to 'Edit', edit_employee_path(@employee), class: "new-button" %>
  <% end %>
</center>
<div class="container" id="full-card">
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="float-right">
        <h1 class="blue-text" id="name"><%= @employee.name %></h1>
        <h2><%= @employee.position %></h2>
        <h2><%= @employee.start_date %></h2>
        <h2 class="grey-text">Last updated: <%= time_ago_in_words @employee.updated_at %> ago</h2>
      </div>

      <div class="float-left">

        <h7><u>ABOUT</u></h7>

        <h5>Life quote:</h5>
        <p><%= @employee.life_quote %></p>

        <h5>Quote:</h5>
        <p><%= @employee.quote %></p>

        <h5>Motto:</h5>
        <p><%= @employee.motto %></p>

        <h5>Industry Experience:</h5>
        <% if @employee.industries %>
          <% @employee.industries.each do |industry| %>
            <%= industry.name %>
          <% end %>
        <% end %>
        <br>

        <h7><u>MISSION & VISION</u></h7>
        <br>
        <h5>Mission:</h5>
        <p><%= @employee.mission %></p>

        <h5>Vision:</h5>
        <p><%= @employee.vision %></p>
        <br>

        <h5>Location:</h5>
        <p><%= @employee.city %>, <%= @employee.state %>, <%= @employee.country %></p>

        <h5>Willing to Travel:</h5>
        <p><%= @employee.willing_to_travel %></p>

        <h5>Project Roles:</h5>
        <% if @employee.roles %>
          <% @employee.roles.each do |role| %>
            <%= role.name %>
          <% end %>
        <% end %>

      </div>

    </div>
    <div class="col-md-6" id="right-side">
      <div id="right-side-text">

        <h7><u>STRENGTHS</u></h7>

        <h5>Myers Briggs:</h5>
        <p><%= @employee.myers_briggs %></p>

        <h5>StrengthsFinder Top 5:</h5>
        <p><%= @employee.strength %></p>

        <h5>Birkman:</h5>
        <p><%= @employee.birkman %></p>
        <br>

        <h7><u>CAREER GOALS & ASPIRATIONS</u></h7>

        <h5>You at Artemis:</h5>
        <p><%= @employee.expectation %> </p>

        <h5>Short term goal:</h5>
        <p><%= @employee.short_term_goal %></p>

        <h5>Long term goal:</h5>
        <p><%= @employee.long_term_goal %></p>

        <h5>Awesome attributes:</h5>
        <p><%= @employee.awesome %></p>

        <h5>Needs from others:</h5>
        <p><%= @employee.need %></p>

        <h5>Preferred feedback:</h5>
        <p><%= @employee.receive_feedback %></p>

        <h5>Personal growth:</h5>
        <p><%= @employee.development %></p>

        <h5>Skills:</h5>
        <% if @employee.skills %>
        <% @employee.skills.each do |skill| %>
        <p> <%= skill.description %> </p>
        <% end %>
        <% end %>
        <br>

        <h7><u>AREAS I WANT TO DEVELOP:</u></h7>
        <p><%= @employee.areas_to_develop %> </p>

        <h7>OBJECTIVE SETTING:</h7>
        <p><%= @employee.objective_setting %></p>

        <h7>PERSONAL GOALS:</h7>
        <p><%=  @employee.personal_goal %>, <%= @employee.personal_goal_two %>, and <%= @employee.personal_goal_three %></p>

        <h5>Projects:</h5>
        <% if @employee.projects.any? %>
          <ul>
            <% @employee.projects.each do |project| %>
              <li class="project-link-on-card"> <%= link_to project.title, project_path(project) %> </li>
            <% end %>
          </ul>
        <% else %>
          <p>No projects</p>
        <% end %>

      </div>
    </div>
  </div>
</div>
