<%= form_for [@employee, @other] do |f| %>
  <div class="container" id="other-container">
    <div class="field form-group">
      <%= f.label :occasion %>
      <%= f.text_field :occasion, id: :other_occasion ,  class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :end_project %>
      <%= f.text_field :end_project, id: :other_end_project,  class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :birthday %>
      <%= f.text_field :birthday, id: :other_birthday,  class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :pulse_survey %>
      <%= f.text_area :pulse_survey, id: :other_pulse_survey,  class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn btn-secondary' %>
    </div>
  <end>
<% end %>
