<%= form_for [@employee, @other] do |f| %>
  <div class="container" id="other-container">

    <div class="field form-group">
      <%= f.label "End of Project Notes" %>
      <%= f.text_field :end_project, id: :other_end_project, placeholder: "A pleasure to work with. Went the extra mile.",  class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :birthday %>
      <%= f.text_field :birthday, id: :other_birthday, placeholder: "I always look forward to our conversations",  class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :pulse_survey %>
      <%= f.text_area :pulse_survey, id: :other_pulse_survey, placeholder: "I appreciate how she uses good humor and kindness when providing constructive criticism",  class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label "Other comments" %>
      <%= f.text_field :occasion, id: :other_occasion, placeholder: "My go-to for recommendations of the best coffee shops in any city.", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn btn-secondary' %>
    </div>
  <end>
<% end %>
