<p id="notice"><%= notice %></p>
<div class="other-show-container">

  <p>
    <strong>End of project:</strong>
    <%= @other.end_project %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= @other.birthday %>
  </p>

  <p>
    <strong>Pulse survey:</strong>
    <%= @other.pulse_survey %>
  </p>

  <p>
    <strong>Other comments:</strong>
    <%= @other.occasion %>
  </p>

  <%= link_to 'Edit', edit_other_path(@other) %> |
  <%= link_to 'Back', others_path %>
</div>
