<p id="notice"><%= notice %></p>

<p>
  <strong>Occasion:</strong>
  <%= @other.occasion %>
</p>

<p>
  <strong>End project:</strong>
  <%= @other.end_project %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @other.birthday %>
</p>

<p>
  <strong>Pulse survey:</strong>
  <%= @other.pulse_survey %>
</p>

<%= link_to 'Edit', edit_other_path(@other) %> |
<%= link_to 'Back', others_path %>
