<%= render 'layouts/errors', :object => @client %>

<div class="container form-container">
  <%= form_for [@company, @client] do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :contact %>
      <%= f.text_field :contact, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :position %>
      <%= f.text_field :position, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :meetings %>
      <%= f.text_field :meetings, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :emails %>
      <%= f.text_field :emails, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :formatting %>
      <%= f.text_field :formatting, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :other %>
      <%= f.text_field :other, class: "form-control"%>
    </div>
    <center><%= f.submit class: "btn new-button" %></center>
  <% end %>
</div>
