<%= render 'layouts/errors', :object => @client %>

<div class="container form-container">
  <%= form_for [@company, @client] do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Jane Doe", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :contact %>
      <%= f.text_field :contact, placeholder: "janedoe@company.net / 555-555-5555", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :position %>
      <%= f.text_field :position, placeholder: "Marketing specialist", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Meeting preferences" %>
      <%= f.text_field :meetings, placeholder: "Early morning, Call her cell, keep to 30 minutes or less", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Email preferences" %>
      <%= f.text_field :emails, placeholder: "Batch questions/comments for her on weekly update", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Communication format preferences" %>
      <%= f.text_field :formatting, placeholder: "She likes bullet points", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :other %>
      <%= f.text_field :other, placeholder: "She's not available on Mondays", class: "form-control" %>
    </div>
    <center><%= f.submit class: "btn new-button" %></center>
  <% end %>
</div>
