<h1>Test text!</h1>


<%= link_to 'New Employee', new_employee_path %><br>
<%= link_to 'New Other', new_other_path %><br>
<%= link_to 'New Project', new_project_path %><br>
<%= link_to 'Employees', employees_path %><br>
<%= link_to 'Others', others_path %><br>
<%= link_to 'Projects', projects_path %><br>
