<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container form-container">
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :project_title, placeholder: "Intern", class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label "company" %><br>
    <%= form.collection_select(:company_id, Company.all, :id, :name, { :prompt => 'Select Company', :selected => @project.company_id }, { class: 'form-control' }) %>
  </div>


  <div class="field form-group">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, id: :project_start_date, placeholder: "January 16, 2018", class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :end_date %>
    <%= form.text_field :end_date, id: :project_end_date, placeholder: "February 16, 2018", class:"form-control" %>
  </div>

  <ul class="field form-group">
    <h6 class="category">Industry/Project Type:</h6>
      <%= collection_check_boxes(:project, :industry_ids, @industries, :id, :name, {} ) do |t| %>
      <h6>
        <%= t.label { t.check_box + t.object.name } %>
      </h6>
    <% end %>
  </ul>

    <div class="row">
      <div class="col-md-4">
        <div class="field form-group">
          <%= form.label "Country" %>
          <%= form.text_field  :country, id: :project_country, placeholder: "United States",  class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="field form-group">
          <%= form.label "State" %>
          <%= form.text_field  :state, id: :project_state, placeholder: "Washington",  class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="field form-group">
          <%= form.label "City" %>
          <%= form.text_field  :city, id: :project_city, placeholder: "Seattle",  class: "form-control" %>
        </div>
      </div>
    </div>

  <ul class="field form-group">
    <h6 class="category">Desired Project Roles:</h6>
      <%= collection_check_boxes(:project, :role_ids, @roles, :id, :name, {} ) do |r| %>
      <h6>
        <%= r.label { r.check_box + r.object.name } %>
      </h6>
    <% end %>
  </ul>

  <ul class="skills-list">
    <h6 class="category">Desired Skills:</h6>
      <%= collection_check_boxes(:project, :skill_ids, @skills, :id, :description, {} ) do |t| %>
      <h6>
        <%= t.label { t.check_box + t.object.description } %>
      </h6>
    <% end %>
  </ul>

  <center>
    <h4>Assign Employees:</h4>
    <p>(sorted by project role):</p>
  </center>

  <hr class="form-hr">
  <div id="team">

  </div>

  <div class="row">
    <div class="col-md-6 emp-box">
      <div class="field boxes">
        <h6 class="category">Interns:</h6>
          <%= collection_check_boxes(:project, :employee_ids, @interns, :id, :name, {} ) do |x| %>
          <h6>
            <%= x.label { x.check_box + x.object.name + " | " + x.object.country + ", " + x.object.state + " (" + x.object.city + ")"} %>
            <p><% x.object.industries.each do |y| %>
              <%= y.name %>,
            <% end %></p>
          </h6>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 emp-box">
      <div class="field boxes">
        <h6 class="category">Analysts:</h6>
        <%= collection_check_boxes(:project, :employee_ids, @analysts, :id, :name, {}) do |x| %>
          <h6>
            <%= x.label { x.check_box + x.object.name + " | " + x.object.country + ", " + x.object.state + " (" + x.object.city + ")"} %>
            <p><% x.object.industries.each do |y| %>
              <%= y.name %>,
            <% end %></p>
          </h6>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 emp-box">
      <div class="field boxes">
        <h6 class="category">Engagement Managers:</h6>
        <%= collection_check_boxes(:project, :employee_ids, @engagement_managers, :id, :name, {}) do |x| %>
          <h6>
            <%= x.label { x.check_box + x.object.name + " | " + x.object.country + ", " + x.object.state + " (" + x.object.city + ")"} %>
            <p><% x.object.industries.each do |y| %>
              <%= y.name %>,
            <% end %></p>
          </h6>
        <% end %>
      </div>

    </div>
    <div class="col-md-6 emp-box">
      <div class="field boxes">
        <h6 class="category">Principals:</h6>
        <%= collection_check_boxes(:project, :employee_ids, @principals, :id, :name, {}) do |x| %>
          <h6>
            <%= x.label { x.check_box + x.object.name + " | " + x.object.country + ", " + x.object.state + " (" + x.object.city + ")"} %>
            <p><% x.object.industries.each do |y| %>
              <%= y.name %>,
            <% end %></p>
          </h6>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 emp-box">
      <div class="field boxes">
        <h6 class="category">Associates:</h6>
        <%= collection_check_boxes(:project, :employee_ids, @associates, :id, :name, {}) do |x| %>
          <h6>
            <%= x.label { x.check_box + x.object.name + " | " + x.object.country + ", " + x.object.state + " (" + x.object.city + ")"} %>
            <p><% x.object.industries.each do |y| %>
              <%= y.name %>,
            <% end %></p>
          </h6>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 emp-box">
      <div class="field boxes">
        <h6 class="category">Partners:</h6>
        <%= collection_check_boxes(:project, :employee_ids, @partners, :id, :name, {}) do |x| %>
          <h6>
            <%= x.label { x.check_box + x.object.name + " | " + x.object.country + ", " + x.object.state + " (" + x.object.city + ")"} %>
            <p><% x.object.industries.each do |y| %>
              <%= y.name %>,
            <% end %></p>
          </h6>
        <% end %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
</div>
<% end %>
