<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container form-container">
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :project_title, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, id: :project_start_date, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :end_date %>
    <%= form.text_field :end_date, id: :project_end_date, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :project_type %>
    <%= form.text_field :project_type, id: :project_project_type, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :industry %>
    <%= form.text_field :industry, id: :project_industry, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :role %>
    <%= form.text_field :role, id: :project_role, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :key_skill %>
    <%= form.text_field :key_skill, id: :project_key_skill, class:"form-control" %>
  </div>

  <h3>Assign Employee:</h3>

  <div class="field boxes">
    <%= collection_check_boxes(:project, :employee_ids, @employees, :id, :name) %>
  </div>

  <h2>Employees with Critical Thinking Skills:</h2>

  <div class="field boxes">
    <%= collection_check_boxes(:project, :employee_ids, @critical_thinking_employees, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
</div>
<% end %>
