<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container form-container">
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :project_title, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, id: :project_start_date, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :end_date %>
    <%= form.text_field :end_date, id: :project_end_date, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :industry %><br>
    <%= form.select :industry, options_for_select([['Healthcare', 'Healthcare'] , ['Private Equity', 'Private Equity'] ,['Technology', 'Technology'] ,['Startup', 'Startup'] ,['Non-profit', 'Non-profit'], ['E-commerce', 'E-commerce'], ['Retail', 'Retail']], selected: @project.industry) %>

    <%= form.label :project_type, "Other"  %>
    <%= form.text_field :project_type, id: :project_project_type, class:"form-control-industry" %>
  </div>

  <div class="skills-list">
    <%= form.label "Required Project Roles" %><br>
    <% ["Intern", "Analyst", "Associate", "Engagement Manager", "Principal", "Partner", "Subject Matter Expert"].each do |role| %>
      <%= check_box_tag "project[role][]", role, false, id: "project_role#{role}" %> <%= role %>
    <% end %>
  </div><br>

  <div class="field form-group">
    <%= form.label "Required Skills for Project" %>
    <%= form.text_field :key_skill, id: :project_key_skill, class:"form-control" %>
  </div>

  <center>
    <h4>Assign Employees:</h4>
    <p>(sorted by project role):</p>
  </center>

  <hr class="form-hr">

  <div class="row">
    <div class="col-md-6 emp-box">
      <div class="field boxes">
        <h6 class="category">Interns:</h6>
          <%= collection_check_boxes(:project, :employee_ids, @interns, :id, :name, {}) do |x| %>
          <h6>
            <%= x.label { x.check_box + x.object.name + " | " + x.object.country + ", " + x.object.state + " (" + x.object.city + ")"} %>
            <p><% x.object.industry_experience.each do |y| %>
              <%= y %>,
            <% end %></p>
          </h6>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 emp-box">
      <div class="field boxes">
        <h6 class="category">Analysts:</h6>
        <%= collection_check_boxes(:project, :employee_ids, @analysts, :id, :name, {}) do |x| %>
          <h6>
            <%= x.label { x.check_box + x.object.name + " | " + x.object.country + ", " + x.object.state + " (" + x.object.city + ")"} %>
            <p><% x.object.industry_experience.each do |y| %>
              <%= y %>,
            <% end %></p>
          </h6>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 emp-box">
      <div class="field boxes">
        <h6 class="category">Engagement Managers:</h6>
        <%= collection_check_boxes(:project, :employee_ids, @engagement_managers, :id, :name, {}) do |x| %>
          <h6>
            <%= x.label { x.check_box + x.object.name + " | " + x.object.country + ", " + x.object.state + " (" + x.object.city + ")"} %>
            <p><% x.object.industry_experience.each do |y| %>
              <%= y %>,
            <% end %></p>
          </h6>
        <% end %>
      </div>

    </div>
    <div class="col-md-6 emp-box">
      <div class="field boxes">
        <h6 class="category">Principals:</h6>
        <%= collection_check_boxes(:project, :employee_ids, @principals, :id, :name, {}) do |x| %>
          <h6>
            <%= x.label { x.check_box + x.object.name + " | " + x.object.country + ", " + x.object.state + " (" + x.object.city + ")"} %>
            <p><% x.object.industry_experience.each do |y| %>
              <%= y %>,
            <% end %></p>
          </h6>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 emp-box">
      <div class="field boxes">
        <h6 class="category">Associates:</h6>
        <%= collection_check_boxes(:project, :employee_ids, @associates, :id, :name, {}) do |x| %>
          <h6>
            <%= x.label { x.check_box + x.object.name + " | " + x.object.country + ", " + x.object.state + " (" + x.object.city + ")"} %>
            <p><% x.object.industry_experience.each do |y| %>
              <%= y %>,
            <% end %></p>
          </h6>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 emp-box">
      <div class="field boxes">
        <h6 class="category">Partners:</h6>
        <%= collection_check_boxes(:project, :employee_ids, @partners, :id, :name, {}) do |x| %>
          <h6>
            <%= x.label { x.check_box + x.object.name + " | " + x.object.country + ", " + x.object.state + " (" + x.object.city + ")"} %>
            <p><% x.object.industry_experience.each do |y| %>
              <%= y %>,
            <% end %></p>
          </h6>
        <% end %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
</div>
<% end %>
