<p id="notice"><%= notice %>

<div class="project-show-container">

  <h1 class="blue-text"> <%= @project.title %></h1>
  <hr>
  <h3><%= @project.start_date %> to <%= @project.end_date %></h3>
  <h3><%= @project.project_type %></h3>
  <h3>Role:</h3>
  <p><%= @project.role %></p>
  <h3>Key skill:</h3>
  <p><%= @project.key_skill %></p>

  <h3>Employees Assigned:</h3>
  <% if @project.employees.any? %>
    <ul>
      <% @project.employees.each do |employee| %>
        <li> <%= link_to employee.name, employee_path(employee) %> </li>
      <% end %>
    </ul>
  <% end %>

<br>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
<br>
<br>
</div>
