<p id="notice"><%= notice %>
<center><br><br><br>
<div class="project-show-container">

  <h1 class="blue-text"> <%= @project.title %></h1>

  <div class="row project-show-card">
    <div class="col-md-6 project-show-left">
      <h5>Start:</h5>
      <p><%= @project.start_date %></p>
      <h5>Finish:</h5>
      <p><%= @project.end_date %></p>
      <h5>Project Type:</h5>
      <p><%= @project.project_type %></p>
      <h5>Required Project Roles:</h5>
      <% if @project.roles %>
        <% @project.roles.each do |role| %>
          <p><%= role.name %> </p>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6 project-show-right">
      <h5>Required Skills:</h5>
      <% if @project.skills %>
        <% @project.skills.each do |skill| %>
          <p><%= skill.description %></p>
        <% end %>
      <% end %>

      <h5>Industry:</h5>
      <p><%= @project.industry %></p>

      <h5>Employees Assigned:</h5>
      <div class="employees">
        <% if @project.employees.any? %>
          <ul>
            <% @project.employees.each do |employee| %>
              <li class="employee-name"> <%= link_to employee.name, employee_path(employee) %> </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <br>
    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %>
  <br>
  <br>
</div>
</center>
