<br>
<center>
  <h1> <%= @company.name %> </h1>
  <%= link_to 'Edit', edit_company_path(@company) %> | <%= link_to ' Destroy', @company, method: :delete, data: { confirm: 'Are you sure?' } %>
  <h2 class="grey-text">Last updated: <%= time_ago_in_words @company.updated_at %> ago</h2>
  <div class="goals">
    <div class="goal">
      <h6>Client Goals</h6>
      <hr>
      <p> <%= @company.company_goals %> </p>
    </div>
    <div class="goal">
      <h6>Personal Development Goals</h6>
      <hr>
      <p> <%= @company.personal_dev_goals %> </p>
    </div>
  </div>
  <h6>Future Work Opportunities</h6>
  <hr id="work-op">
  <p> <%= @company.future_work_opportunities %> </p>
  <br>
  <h6>Project History:</h6>
  <hr id="work-op">
  <% if @company.projects.any? %>
    <% @company.projects.each do |project| %>
      <p><%= project.title %></p>
    <% end  %>
  <% end %>
</center><br>

<hr>
<center><p id='client-heading'>Contacts</p>
<%= link_to "Add Contact", new_company_client_path(@company), class: "new-button" %></center><br>
<div class="clients">
  <% if @company.clients.any? %>
    <div class="client">
      <% @company.clients.each do |client|%>
        <center><h5><%= client.name %></h5>
        <%= link_to 'Edit', edit_company_client_path(client) %></center>
        <center><h7 class="grey-text">Last updated: <%= time_ago_in_words @company.updated_at %> ago</h7></center>
        <div class="row">
          <div class="col-md-6">
            <p> <%= client.contact %> </p>
          </div>
          <div class="col-md-6">
            <p> <%= client.emails %> </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p> <%= client.position %> </p>
          </div>
          <div class="col-md-6">
            <p> <%= client.meetings %> </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p> <%= client.formatting %> </p>
          </div>
          <div class="col-md-6">
            <p> <%= client.other %> </p>
          </div>
        </div>
      <% end %>
    </div><br>
  <% else %>
    <p>No Contacts</p>
  <% end %>
</div>
