<!DOCTYPE html>
<html>
  <head>
    <title>BaseballCard</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer class="page-footer center-on-small-only">
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <p>STRATEGY FOR INNOVATIVE LEADERS</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container-fluid">
        © 2018 <a href="https://www.artemisconnection.com/">Artemis Connection, Inc.</a> | All rights reserved.
      </div>
    </div>
  </footer>

</html>
